.text_style {
  background-image: url(./assets/images/line-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.box_style {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hover_effect {
  box-shadow: 0px 0px 3px gray;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid transparent;
}

.hover_effect:hover .categori_name,
.hover_effect:hover .course_icone {
  color: #ffa03a;
}

.hover_effect:hover {
  box-shadow: 8px 8px 3px gray;
  border: 1px solid gray;
}

.back_color_fact {
  background-image: linear-gradient(to bottom, #f4f5f8, #ffffff);
}
.mySwiper {
  padding: 10px !important;
}
