.text_style {
  background-image: url(./assets/images/line-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.text_style_white {
  background-image: url(./assets/images/line-bg-white.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.box_style {
  background: #ffffff26;
  border: 1px solid #ffffff2e;
}

.hover_effect {
  box-shadow: 0px 0px 3px gray;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid transparent;
}

.hover_effect:hover .categori_name,
.hover_effect:hover .course_icone {
  color: #ffa03a;
}

.hover_effect:hover {
  box-shadow: 8px 8px 3px gray;
  border: 1px solid gray;
  transition: 0.3s !important;
}

.back_color_fact {
  background-image: linear-gradient(to bottom, #f4f5f8, #ffffff);
}
.mySwiper {
  padding: 10px !important;
}

.shadow_box {
  box-shadow: 0px 0px 2px gray;
}

.shadow_box:hover {
  box-shadow: 0px 0px 8px #ffa03a;
}

.letter {
  letter-spacing: 4px;
}

.box_shadow {
  box-shadow: 0px 0px 2px gray;
}
.bg_image {
  background-image: url(./assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background-color: #6045ff;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 4px 4px 2px #272727;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ffa03a;
  box-shadow: none;
}

.btn_icone:hover {
  box-shadow: 4px 4px 2px #272727;
  background-color: #6045ff;
  color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input_shadow {
  box-shadow: 0px 0px 2px rgb(63, 63, 63);
}

.responsive_map {
  overflow: hidden;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}

.responsive_map iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
